<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site do Chatbot Pontos de Vida">
    <meta name="author" content="Paulo Henrique Serrano, Rodolfo Marques, Interfaces Livres"> 
    <link rel="stylesheet" href="public/style/style.css">
    <title>Panel de Mensagens - Pontos de Vida Chatbot</title>
</head>
<body>
    <header class="grid">
        <img class="center-column" src="public/img/logo.png" alt="Logo Pontos de Vida">
    </header>
    <main class="grid">
        <h1 class="center-column">Sistema de Envio de Mensagens</h1>
        <div class="center-column">
            <form id="form" action="/mass_message" method="post">
                <label for="plataforma">Selecione a Plataforma</label>
                <select name="plataforma">
                    <option value="todos">Todos</option>
                    <% plataforma.forEach(element => { %>
                        <option value="<%=element%>"><%=element%></option>
                    <% }) %>
                </select>
                <label for="estado">Selecione o Estado</label>
                <select name="estado" id="">
                    <option value="todos">Todos</option>
                    <% estado.forEach(element => { %>
                        <option value="<%=element%>"><%=element%></option>
                    <% }); %>
                </select>
                <label for="tipo_sanguineo">Selecione o tipo Tipo Sanguineo</label>
                <select name="tipo_sanguineo" id="">
                    <option value="todos">Todos</option>
                    <% tipo_sanguineo.forEach(element => { %>
                        <option value="<%=element%>"><%=element%></option>
                    <% }) %>
                </select>
                <input type="text" name="mensagem" id="">
                <input class="form-button" type="submit" value="Enviar">    
            </form>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>